footer {
	background-color: black;
	display: flex;
	justify-content: space-between;
	padding: 1rem 10% 1rem 10%;
	margin-top: 4rem;
}

footer ul {
	margin-top: 1rem;
	margin-bottom: 1rem;
	display: flex;
	flex-wrap: wrap;
}

footer ul li {
	margin-right: 1rem;
}

footer ul li a:hover::after {
	content: "";
	display: block;
	margin: 0 auto;
	width: 50%;
	border-bottom: 1px solid white;
}

footer p {
	color: white;
}

.footer-socials {
	justify-content: flex-end;
}

@media only screen and (max-width: 932px) {
	footer {
		text-align: center;
		padding: 2rem 0 2rem 0;
		flex-direction: column;
		align-items: center;
	}
	.footer-nav {
		flex-direction: column;
	}
	.footer-socials {
		justify-content: center;
	}
	footer ul li {
		margin-bottom: 0.5rem;
	}
	footer ul li a:hover::after {
		width: 20%;
	}
}
